<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div><span>MyName:<span> {{ name }}</div>
        <div>MyAge: {{ age }}</div>
        <div>MyLove: {{ love.like }}</div>
        <div>
            <div>Name: <input type="text" v-model="name"></div>
            <div>Love: <input type="text" v-model="love.like"></div>
        </div>
    </div>
    
</body>
<script src="./vue.js"></script>
<script>
    const vm = new Vue ({
        el: '#app',
        data:{
            name: '小王爷',
            age: 12,
            love: {
                like: 'zz'
            }   
        }
    })
    console.log(vm)
</script>
</html>